@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@keyframes anim_btn_opacity {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.48, 0.24, 0.87, 0.6);
  }
  65% {
    opacity: 1;
    animation-timing-function: cubic-bezier(1, 0, 0.99, 0.63);
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu_pop_out_effect {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.15);
    opacity: 0.75;
  }
}
@keyframes footer_wiggle_effect {
  0% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 600px 600px 200px;
  gap: 5% 10%;
  grid-template-areas: "menu_note menu_chic" "menu_delice menu_palette" "upcoming upcoming";
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

header, footer {
  width: 100%;
  background-color: #569c87;
  display: flex;
}

header a, footer a {
  color: #FDCB46;
  text-decoration: none;
  font-family: "Montserrat";
}

header {
  height: 150px;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 100px;
  letter-spacing: -6px;
}

main {
  margin: 5% 10%;
  padding: 0;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 10px;
  font-size: 20px;
}
footer p:hover {
  animation: footer_wiggle_effect 300ms ease-in-out 1;
}

.menu_general {
  box-shadow: 5px 5px 10px #999;
}
.menu_general a, .menu_general section, .menu_general span {
  text-decoration: none;
}

.menu_animation {
  width: 400px;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_animation:hover {
  animation: menu_pop_out_effect 300ms ease-in both;
  transform: scale(1);
}

.menu_note {
  grid-area: menu_note;
  display: flex;
  justify-content: center;
  background-color: #FDE1DD;
  color: #3D1319;
}
.menu_note--title {
  font-family: "Devonshire";
  font-size: 50px;
}
.menu_note--menu {
  font-family: "Itim";
  font-size: 50px;
  font-style: italic;
  text-transform: uppercase;
}

.menu_chic {
  grid-area: menu_chic;
  display: flex;
  justify-content: center;
  background-color: #FFF5FE;
}
.menu_chic--title {
  font-family: "Croissant One";
  font-size: 30px;
  background: -webkit-linear-gradient(100deg, #6E4CCC, #A56799, #C67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_chic--menu {
  font-family: "DM Serif Text";
  font-size: 60px;
  color: #C67412;
}

.menu_delice {
  grid-area: menu_delice;
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
}
.menu_delice--title {
  font-family: "Dancing Script";
  font-size: 40px;
  background: -webkit-linear-gradient(110deg, #229DF9, #0670F3, #0228DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_delice--menu {
  font-family: "Nanum Pen Script";
  font-size: 60px;
  font-style: italic;
  color: #229DF9;
}

.menu_palette {
  grid-area: menu_palette;
  display: flex;
  justify-content: center;
  background-color: #FDFFFD;
}
.menu_palette--title {
  font-family: "Kaushan Script";
  font-size: 40px;
  background: -webkit-linear-gradient(110deg, #B8FA7C, #3D923A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_palette--menu {
  font-family: "Nanum Pen Script";
  font-size: 60px;
  font-style: italic;
  color: #B8FA7C;
}

.upcoming {
  grid-area: upcoming;
  display: flex;
  justify-content: center;
}
.upcoming--content {
  width: 270px;
  height: 50px;
  background-color: #569c87;
  color: #FDCB46;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.upcoming--content__txt {
  font-size: 25px;
  font-family: "Montserrat";
}
.upcoming--content__loading {
  margin: 12px 0 0 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FDCB46;
  animation: anim_btn_opacity 1000ms cubic-bezier(0.74, 0.32, 0.53, 0.76) backwards infinite;
}
.upcoming--content__loading--1 {
  animation-delay: 83.3333333333ms;
}
.upcoming--content__loading--2 {
  animation-delay: 333.3333333333ms;
}
.upcoming--content__loading--3 {
  animation-delay: 583.3333333333ms;
}

/*# sourceMappingURL=main_style.css.map */
