@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@keyframes anim_btn_opacity {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.48, 0.24, 0.87, 0.6);
  }
  65% {
    opacity: 1;
    animation-timing-function: cubic-bezier(1, 0, 0.99, 0.63);
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu_pop_out_effect {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.75;
  }
}
@keyframes footer_wiggle_effect {
  0% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

header, footer {
  width: 100%;
  background-color: #569c87;
}
header a, footer a {
  color: #FDCB46;
  font-family: "Montserrat";
}

header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-size: 100px;
  letter-spacing: -6px;
}

main {
  margin: 5% 10%;
  padding: 0;
  width: 80%;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer p {
  margin: 2%;
  font-size: 20px;
}
footer p:hover {
  animation: footer_wiggle_effect 300ms ease-in-out 1;
}

.index_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 3%;
}
.index_menu {
  box-shadow: 0 0 10px #999;
  width: 40%;
  margin: 2%;
}
.index_menu-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.index_menu-detail:hover {
  animation: menu_pop_out_effect 300ms ease-in-out both;
  transform: scale(1);
}
.index_menu-nom {
  margin: 0;
  padding: 0 1%;
}
.index_menu-soustitre {
  margin: 0;
}
.index_menu:nth-child(1) {
  background-color: #FDE1DD;
}
.index_menu:nth-child(1) .index_menu-nom {
  font: 50px "Devonshire";
  color: #3D1319;
}
.index_menu:nth-child(1) .index_menu-soustitre {
  font: italic 50px "Itim";
  color: #3D1319;
}
.index_menu:nth-child(2) {
  background-color: #FFF5FE;
}
.index_menu:nth-child(2) .index_menu-nom {
  font: 30px "Croissant One";
  background: -webkit-linear-gradient(110deg, #6E4CCC 0%, #A56799 40%, #C67412 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index_menu:nth-child(2) .index_menu-soustitre {
  font: 60px "DM Serif Text";
  color: #C67412;
}
.index_menu:nth-child(3) {
  background-color: #F9F9F9;
}
.index_menu:nth-child(3) .index_menu-nom {
  font: 40px "Dancing Script";
  background: -webkit-linear-gradient(100deg, #229DF9, #0670F3, #0228DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index_menu:nth-child(3) .index_menu-soustitre {
  font: 60px "Kalam";
  color: #0670F3;
}
.index_menu:nth-child(4) {
  background-color: #FDFFFD;
}
.index_menu:nth-child(4) .index_menu-nom {
  font: 40px "Kaushan Script";
  background: -webkit-linear-gradient(110deg, #B8FA7C 30%, #3D923A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index_menu:nth-child(4) .index_menu-soustitre {
  font: 60px "Kalam";
  color: #8DD565;
}
.index_upcoming {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2%;
}
.index_upcoming-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  background-color: #569c87;
  border-radius: 15px;
}
.index_upcoming-txt {
  font: 25px "Montserrat";
  color: #FDCB46;
}
.index_upcoming-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 14px 0 0 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FDCB46;
  animation: anim_btn_opacity 1000ms ease-in-out infinite;
}
.index_upcoming-loading-1 {
  animation-delay: 333.3333333333ms;
}
.index_upcoming-loading-2 {
  animation-delay: 166.6666666667ms;
}
.index_upcoming-loading-3 {
  animation-delay: 111.1111111111ms;
}

.legal__main {
  width: 60%;
  background-color: #EEE;
  font-family: "Montserrat";
  box-shadow: 0 0 10px #999;
}
.legal__main--section {
  margin: 10px;
  padding: 10px;
}
.legal__main section {
  color: #444;
}
.legal__main section h2 {
  color: #569c87;
  font-size: 50px;
  text-align: center;
}
.legal__main section h3 {
  color: #569c87;
  font-size: 30px;
  text-decoration: underline;
}
.legal__main section a {
  color: #FDCB46;
  text-decoration: none;
  background: linear-gradient(to top, #FDCB46 0%, #FDCB46 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.legal__main section a:hover {
  background-size: 100% 100%;
}
.legal__main section strong {
  text-decoration: underline;
}
.legal__main section p {
  text-align: justify;
}
.legal__main section span {
  font-style: italic;
}

.note__main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note__main--title {
  font-family: "Montserrat";
  font-size: 30px;
}
.note__main--section {
  margin: 3%;
  padding: 3%;
  background-color: #FDE1DD;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.note__main section .menu_title h3, .note__main section .menu_title img {
  font-family: "Devonshire";
  color: #3D1319;
  font-size: 50px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.note__main section .menu_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note__main section .menu_part--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.note__main section .menu_part--title img {
  width: 20%;
  height: 20%;
}
.note__main section .menu_part h4 {
  font-family: "Itim";
  color: #3D1319;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(to top, #3D1319 0%, #3D1319 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.note__main section .menu_part h4:hover {
  background-size: 100% 100%;
}
.note__main section .menu_part--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Itim";
  color: #3D1319;
  font-size: 20px;
}
.note__main section .menu_part--content .plat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  text-align: left;
  margin-left: 20px;
}
.note__main section .menu_part--content .prix {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20%;
  margin-right: 20px;
}
.note__main section .menu_part--content .dessert {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  text-align: left;
  margin-left: 20px;
}
.note__main section .menu_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.note__main section .menu_footer h3 {
  font-family: "Devonshire";
  color: #3D1319;
  font-size: 40px;
  padding-left: 10px;
  font-weight: normal;
}
.note__main section .menu_footer img {
  width: 7%;
  height: 7%;
}

.menu_titre {
  font-family: "Montserrat";
  font-size: 30px;
}

.menu_chic_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.menu_chic_contenu {
  margin: 3%;
  padding: 3%;
  background-color: #FFF5FE;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.menu_chic_titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Croissant One";
  background: -webkit-linear-gradient(110deg, #6E4CCC 0%, #C67412 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.menu_chic_entree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: 25px;
  padding: 5% 0;
}
.menu_chic_entree--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #C67412;
}
.menu_chic_entree--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #C67412 0%, #C67412 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_chic_entree--titre h4:hover {
  background-size: 100% 100%;
}
.menu_chic_entree--titre img {
  width: 30%;
}
.menu_chic_entree--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #C67412;
  font-size: 20px;
}
.menu_chic_entree--contenu .plat {
  width: 70%;
}
.menu_chic_entree--contenu .prix {
  width: 20%;
  text-align: right;
}
.menu_chic_plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: 25px;
  padding: 5% 0;
}
.menu_chic_plat--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #A56799;
}
.menu_chic_plat--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #A56799 0%, #A56799 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_chic_plat--titre h4:hover {
  background-size: 100% 100%;
}
.menu_chic_plat--titre img {
  width: 30%;
}
.menu_chic_plat--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #A56799;
  font-size: 20px;
}
.menu_chic_plat--contenu .plat {
  width: 70%;
}
.menu_chic_plat--contenu .prix {
  width: 20%;
  text-align: right;
}
.menu_chic_dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: 25px;
  padding: 5% 0;
}
.menu_chic_dessert--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #6E4CCC;
}
.menu_chic_dessert--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_chic_dessert--titre h4:hover {
  background-size: 100% 100%;
}
.menu_chic_dessert--titre img {
  width: 30%;
}
.menu_chic_dessert--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #6E4CCC;
  font-size: 20px;
}
.menu_chic_dessert--contenu .plat {
  width: 100%;
}

.menu_titre {
  font-family: "Montserrat";
  font-size: 30px;
}

.menu_delice_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.menu_delice_contenu {
  margin: 3%;
  padding: 3%;
  background-color: #F9F9F9;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.menu_delice_titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script";
  background: -webkit-linear-gradient(100deg, #229DF9, #0670F3, #0228DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}
.menu_delice_entree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam";
  font-size: 38px;
  padding: 5% 0;
}
.menu_delice_entree--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
}
.menu_delice_entree--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #0228DD 0%, #0228DD 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_delice_entree--titre h4:hover {
  background-size: 100% 100%;
}
.menu_delice_entree--titre img {
  width: 30%;
}
.menu_delice_entree--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  color: #000000;
}
.menu_delice_entree--contenu .plat {
  width: 70%;
  font-size: 30px;
}
.menu_delice_entree--contenu .prix {
  width: 20%;
  text-align: right;
  font-size: 35px;
}
.menu_delice_plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam";
  font-size: 38px;
  padding: 5% 0;
}
.menu_delice_plat--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
}
.menu_delice_plat--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #0670F3 0%, #0670F3 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_delice_plat--titre h4:hover {
  background-size: 100% 100%;
}
.menu_delice_plat--titre img {
  width: 30%;
}
.menu_delice_plat--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  color: #000000;
  font-size: 20px;
}
.menu_delice_plat--contenu .plat {
  width: 70%;
  font-size: 30px;
}
.menu_delice_plat--contenu .prix {
  width: 20%;
  text-align: right;
  font-size: 35px;
}
.menu_delice_dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam";
  font-size: 38px;
  padding: 5% 0;
}
.menu_delice_dessert--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
}
.menu_delice_dessert--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #229DF9 0%, #229DF9 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_delice_dessert--titre h4:hover {
  background-size: 100% 100%;
}
.menu_delice_dessert--titre img {
  width: 30%;
}
.menu_delice_dessert--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  color: #000000;
  font-size: 20px;
}
.menu_delice_dessert--contenu .plat {
  width: 70%;
  font-size: 30px;
}
.menu_delice_dessert--contenu .prix {
  width: 20%;
  font-size: 35px;
  text-align: right;
}

.menu_titre {
  font-family: "Montserrat";
  font-size: 30px;
}

.menu_palette_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.menu_palette_contenu {
  margin: 3%;
  padding: 3%;
  background-color: #FDFFFD;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.menu_palette_titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Kaushan Script";
  background: -webkit-linear-gradient(110deg, #B8FA7C 30%, #3D923A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}
.menu_palette_entree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam";
  font-size: 38px;
  padding: 5% 0;
}
.menu_palette_entree--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
}
.menu_palette_entree--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #3D923A 0%, #3D923A 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_palette_entree--titre h4:hover {
  background-size: 100% 100%;
}
.menu_palette_entree--titre img {
  width: 30%;
}
.menu_palette_entree--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  color: #000000;
}
.menu_palette_entree--contenu .plat {
  width: 70%;
  font-size: 30px;
}
.menu_palette_entree--contenu .prix {
  width: 20%;
  text-align: right;
  font-size: 35px;
}
.menu_palette_plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam";
  font-size: 38px;
  padding: 5% 0;
}
.menu_palette_plat--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
}
.menu_palette_plat--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #8DD565 0%, #8DD565 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_palette_plat--titre h4:hover {
  background-size: 100% 100%;
}
.menu_palette_plat--titre img {
  width: 30%;
}
.menu_palette_plat--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  color: #000000;
  font-size: 20px;
}
.menu_palette_plat--contenu .plat {
  width: 70%;
  font-size: 30px;
}
.menu_palette_plat--contenu .prix {
  width: 20%;
  text-align: right;
  font-size: 35px;
}
.menu_palette_dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kalam";
  font-size: 38px;
  padding: 5% 0;
}
.menu_palette_dessert--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
}
.menu_palette_dessert--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #B8FA7C 0%, #B8FA7C 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_palette_dessert--titre h4:hover {
  background-size: 100% 100%;
}
.menu_palette_dessert--titre img {
  width: 30%;
}
.menu_palette_dessert--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  color: #000000;
  font-size: 20px;
}
.menu_palette_dessert--contenu .plat {
  width: 70%;
  font-size: 30px;
}
.menu_palette_dessert--contenu .prix {
  width: 20%;
  font-size: 35px;
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  .index_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .index_menu {
    width: 95%;
  }
  .index_menu-detail {
    height: 950px;
  }
  .index_upcoming {
    width: 50%;
    padding-bottom: 5%;
  }

  .note__main {
    width: 95%;
  }
  .note__main--section {
    width: 95%;
  }

  .menu_chic_main, .menu_chic_contenu {
    width: 95%;
  }
  .menu_chic_entree, .menu_chic_plat, .menu_chic_dessert {
    font-size: 22px;
  }

  .menu_delice_main, .menu_delice_contenu {
    width: 95%;
  }
  .menu_delice_entree, .menu_delice_plat, .menu_delice_dessert {
    font-size: 30px;
  }
  .menu_delice_entree--contenu .plat, .menu_delice_plat--contenu .plat, .menu_delice_dessert--contenu .plat {
    font-size: 25px;
  }
  .menu_delice_entree--contenu .prix, .menu_delice_plat--contenu .prix, .menu_delice_dessert--contenu .prix {
    font-size: 30px;
  }

  .menu_palette_main, .menu_palette_contenu {
    width: 95%;
  }
  .menu_palette_entree, .menu_palette_plat, .menu_palette_dessert {
    font-size: 30px;
  }
  .menu_palette_entree--contenu .plat, .menu_palette_plat--contenu .plat, .menu_palette_dessert--contenu .plat {
    font-size: 20px;
  }
  .menu_palette_entree--contenu .prix, .menu_palette_plat--contenu .prix, .menu_palette_dessert--contenu .prix {
    font-size: 25px;
  }
}

/*# sourceMappingURL=main_style.css.map */
