@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@keyframes anim_btn_opacity {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.48, 0.24, 0.87, 0.6);
  }
  65% {
    opacity: 1;
    animation-timing-function: cubic-bezier(1, 0, 0.99, 0.63);
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu_pop_out_effect {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.15);
    opacity: 0.75;
  }
}
@keyframes footer_wiggle_effect {
  0% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  width: 100%;
  background-color: #569c87;
  display: flex;
}

header a, footer a {
  color: #FDCB46;
  text-decoration: none;
  font-family: "Montserrat";
}

header {
  height: 150px;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 100px;
  letter-spacing: -6px;
}

main {
  margin: 5% 10%;
  padding: 0;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin: 10px;
  font-size: 20px;
}
footer p:hover {
  animation: footer_wiggle_effect 300ms ease-in-out 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 600px 600px 200px;
  gap: 5% 10%;
  grid-template-areas: "menu_note menu_chic" "menu_delice menu_palette" "upcoming upcoming";
  justify-content: center;
}

.menu_general a, .menu_general section, .menu_general span {
  text-decoration: none;
}
.menu_general a {
  box-shadow: 5px 5px 10px #999;
}

.menu_animation {
  width: 400px;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu_animation:hover {
  animation: menu_pop_out_effect 300ms ease-in both;
  transform: scale(1);
}

.menu_note {
  grid-area: menu_note;
  display: flex;
  justify-content: center;
  background-color: #FDE1DD;
  color: #3D1319;
}
.menu_note--title {
  font-family: "Devonshire";
  font-size: 50px;
}
.menu_note--menu {
  font-family: "Itim";
  font-size: 50px;
  font-style: italic;
  text-transform: uppercase;
}

.menu_chic {
  grid-area: menu_chic;
  display: flex;
  justify-content: center;
  background-color: #FFF5FE;
}
.menu_chic--title {
  font-family: "Croissant One";
  font-size: 30px;
  background: -webkit-linear-gradient(110deg, #6E4CCC 0%, #C67412 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_chic--menu {
  font-family: "DM Serif Text";
  font-size: 60px;
  color: #C67412;
}

.menu_delice {
  grid-area: menu_delice;
  display: flex;
  justify-content: center;
  background-color: #F9F9F9;
}
.menu_delice--title {
  font-family: "Dancing Script";
  font-size: 40px;
  background: -webkit-linear-gradient(110deg, #229DF9, #0670F3, #0228DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_delice--menu {
  font-family: "Nanum Pen Script";
  font-size: 60px;
  font-style: italic;
  color: #229DF9;
}

.menu_palette {
  grid-area: menu_palette;
  display: flex;
  justify-content: center;
  background-color: #FDFFFD;
}
.menu_palette--title {
  font-family: "Kaushan Script";
  font-size: 40px;
  background: -webkit-linear-gradient(110deg, #B8FA7C, #3D923A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_palette--menu {
  font-family: "Nanum Pen Script";
  font-size: 60px;
  font-style: italic;
  color: #B8FA7C;
}

.upcoming {
  grid-area: upcoming;
  display: flex;
  justify-content: center;
}
.upcoming--content {
  width: 270px;
  height: 50px;
  background-color: #569c87;
  color: #FDCB46;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.upcoming--content__txt {
  font-size: 25px;
  font-family: "Montserrat";
}
.upcoming--content__loading {
  margin: 12px 0 0 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FDCB46;
  animation: anim_btn_opacity 1000ms cubic-bezier(0.74, 0.32, 0.53, 0.76) backwards infinite;
}
.upcoming--content__loading--1 {
  animation-delay: 83.3333333333ms;
}
.upcoming--content__loading--2 {
  animation-delay: 333.3333333333ms;
}
.upcoming--content__loading--3 {
  animation-delay: 583.3333333333ms;
}

.legal__main {
  width: 60%;
  background-color: #EEE;
  font-family: "Montserrat";
  box-shadow: 0 0 10px #999;
}
.legal__main--section {
  margin: 10px;
  padding: 10px;
}
.legal__main section {
  color: #444;
}
.legal__main section h2 {
  color: #569c87;
  font-size: 50px;
  text-align: center;
}
.legal__main section h3 {
  color: #569c87;
  font-size: 30px;
  text-decoration: underline;
}
.legal__main section a {
  color: #FDCB46;
  text-decoration: none;
  background: linear-gradient(to top, #FDCB46 0%, #FDCB46 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.legal__main section a:hover {
  background-size: 100% 100%;
}
.legal__main section strong {
  text-decoration: underline;
}
.legal__main section p {
  text-align: justify;
}
.legal__main section span {
  font-style: italic;
}

.note__main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note__main--title {
  font-family: "Montserrat";
  font-size: 30px;
}
.note__main--section {
  margin: 3%;
  padding: 3%;
  background-color: #FDE1DD;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.note__main section .menu_title h3, .note__main section .menu_title img {
  font-family: "Devonshire";
  color: #3D1319;
  font-size: 50px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.note__main section .menu_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note__main section .menu_part--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.note__main section .menu_part--title img {
  width: 25%;
  margin: 0 20px;
}
.note__main section .menu_part h4 {
  font-family: "Itim";
  color: #3D1319;
  font-size: 35px;
  text-align: center;
  background: linear-gradient(to top, #3D1319 0%, #3D1319 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.note__main section .menu_part h4:hover {
  background-size: 100% 100%;
}
.note__main section .menu_part--content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Itim";
  color: #3D1319;
  font-size: 20px;
}
.note__main section .menu_part--content .plat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  text-align: left;
  margin-left: 20px;
}
.note__main section .menu_part--content .prix {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20%;
  margin-right: 20px;
}
.note__main section .menu_part--content .dessert {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  text-align: left;
  margin-left: 20px;
}
.note__main section .menu_footer {
  display: flex;
  justify-content: center;
  margin: 5%;
}
.note__main section .menu_footer h3 {
  font-family: "Devonshire";
  color: #3D1319;
  font-size: 40px;
  padding-left: 10px;
  font-weight: normal;
}
.note__main section .menu_footer img {
  width: 10%;
}

.menu_titre {
  font-family: "Montserrat";
  font-size: 30px;
}

.menu_chic_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.menu_chic_contenu {
  margin: 3%;
  padding: 3%;
  background-color: #FFF5FE;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.menu_chic_titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Croissant One";
  background: -webkit-linear-gradient(110deg, #6E4CCC 0%, #C67412 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.menu_chic_entree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: 25px;
  padding: 5% 0;
}
.menu_chic_entree--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #C67412;
}
.menu_chic_entree--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #C67412 0%, #C67412 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_chic_entree--titre img {
  width: 30%;
}
.menu_chic_entree--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #C67412;
  font-size: 20px;
}
.menu_chic_entree--contenu .plat {
  width: 70%;
}
.menu_chic_entree--contenu .prix {
  width: 20%;
  text-align: right;
}
.menu_chic_plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: 25px;
  padding: 5% 0;
}
.menu_chic_plat--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #A56799;
}
.menu_chic_plat--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #A56799 0%, #A56799 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_chic_plat--titre img {
  width: 30%;
}
.menu_chic_plat--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #A56799;
  font-size: 20px;
}
.menu_chic_plat--contenu .plat {
  width: 70%;
}
.menu_chic_plat--contenu .prix {
  width: 20%;
  text-align: right;
}
.menu_chic_dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "DM Serif Text";
  font-size: 25px;
  padding: 5% 0;
}
.menu_chic_dessert--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #6E4CCC;
}
.menu_chic_dessert--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_chic_dessert--titre img {
  width: 30%;
}
.menu_chic_dessert--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #6E4CCC;
  font-size: 20px;
}
.menu_chic_dessert--contenu .plat {
  width: 100%;
}

.menu_titre {
  font-family: "Montserrat";
  font-size: 30px;
}

.menu_delice_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.menu_delice_contenu {
  margin: 3%;
  padding: 3%;
  background-color: #F9F9F9;
  box-shadow: 0 0 10px #999;
  width: 70%;
}
.menu_delice_titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script";
  background: -webkit-linear-gradient(100deg, #229DF9, #0670F3, #0228DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: normal;
}
.menu_delice_entree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Pen Script";
  font-size: 25px;
  padding: 5% 0;
}
.menu_delice_entree--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #0228DD;
}
.menu_delice_entree--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #0228DD 0%, #0228DD 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_delice_entree--titre img {
  width: 30%;
}
.menu_delice_entree--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #0228DD;
  font-size: 20px;
}
.menu_delice_entree--contenu .plat {
  width: 70%;
}
.menu_delice_entree--contenu .prix {
  width: 20%;
  text-align: right;
}
.menu_delice_plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Pen Script";
  font-size: 25px;
  padding: 5% 0;
}
.menu_delice_plat--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #0670F3;
}
.menu_delice_plat--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #0670F3 0%, #0670F3 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_delice_plat--titre img {
  width: 30%;
}
.menu_delice_plat--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #0670F3;
  font-size: 20px;
}
.menu_delice_plat--contenu .plat {
  width: 70%;
}
.menu_delice_plat--contenu .prix {
  width: 20%;
  text-align: right;
}
.menu_delice_dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Pen Script";
  font-size: 25px;
  padding: 5% 0;
}
.menu_delice_dessert--titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #229DF9;
}
.menu_delice_dessert--titre h4 {
  text-decoration: none;
  background: linear-gradient(to top, #229DF9 0%, #229DF9 5%, transparent 1%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu_delice_dessert--titre img {
  width: 30%;
}
.menu_delice_dessert--contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  color: #229DF9;
  font-size: 20px;
}
.menu_delice_dessert--contenu .plat {
  width: 70%;
}
.menu_delice_dessert--contenu .prix {
  width: 20%;
  text-align: right;
}

/*# sourceMappingURL=main_style.css.map */
