/*FONTS*/
@font-face {
	font-family: 'AmbleRegular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amble-Regular.woff') format('woff');
}
  
@font-face {
	font-family: 'AmbleBold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amble-Bold.woff') format('woff');
}

@font-face {
	font-family: 'AmbleLight';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amble-Light.woff') format('woff');
}
	

/*CORPS DE PAGE*/
body
{
	font-family: 'AmbleRegular', sans-serif;
	background-color: #282828;
    margin: 0 auto 0 auto;
    color:#282828;
}

/*TETE DE PAGE*/
header
{
	width: 1000px;
	display: flex;
	justify-content: center;
	margin: auto;
}

.github 
{
	/* width: 300px; */
	/* height: 300px; */
	background-color: #0080FF;
	text-align: center;
}

.github img
{
	width: 212px;
	/* height: 212px; */
    /* margin-top: 68px; */
}

.titre_page
{
	width: 700px;
	padding: 0 65px;
    background-color: white;
    text-align: center;
}

h1
{
	color: #0080FF;
	font-size: 50px;
}

.color_nom
{
	color: #282828;
	font-weight: lighter;
}

header h2
{
	font-size: 35px;
}

.color_border{
	border-bottom: 2px #0080FF solid;
}

main
{
	width:1000px;
	display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
    background-color: white;
}

footer
{
	width:1000px;
	display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: auto;
    background-color: white;
    border-top: 1px #484848 dashed;
    
}

/* règles au format responsive avec les media queries */
@media all and (max-width: 900px)
{
  body{
	margin: 0 0 0 0;
  }

  header
  {
    width: auto;
    margin: auto;
    flex-direction: column;
  }

  header h2
  {
    height: auto;
  }

  .github:nth-child(1)
  {
    order: 2;
	width: auto;
	height: auto;
	padding: 10px;
	 
  }
  
  .github img
  {
	margin-top: 10px;
  }
  .titre_page:nth-child(2)
  {
    order: 1;
    width: auto;
     margin: 0px;
    padding-bottom: 15px;
    padding-top: 10px; 
    text-align: center;
  }

  main, footer
  {
    flex-direction: column;
    width: auto;
    margin: auto;
    text-align: center;
  }

}
