/*FONTS*/
@font-face {
	font-family: 'AmbleRegular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amble-Regular.woff') format('woff');
}
  
@font-face {
	font-family: 'AmbleBold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amble-Bold.woff') format('woff');
}

@font-face {
	font-family: 'AmbleLight';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Amble-Light.woff') format('woff');
}
	

/*CORPS DE PAGE*/
body
{
	font-family: 'AmbleRegular', sans-serif;
	background-color: #282828;
  margin: 0 auto 0 auto;
  color:#282828;
}

/*TETE DE PAGE*/
header
{
	width: 1000px;
	display: flex;
	justify-content: center;
  margin: auto;
}

.titre_page
{
	width: 100%;
	padding: 0 65px;
  background-color: white;
  text-align: center;
  background-image: url(images/header.png);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14) , 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

h1
{
	color: black;
	font-size: 50px;
}

.color_nom
{
	color: white;
	font-weight: lighter;
}

header h2
{
  font-size: 35px;
  color: white;
}

.color_border{
  border-bottom: 2px white solid;
  color: black;
}

main
{
  width:1000px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: auto;
  background-color: white;
}

article h2 
{
  text-decoration: underline;
}

footer
{
	width:1000px;
	display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: auto;
  background-color: white;
  border-top: 1px #484848 dashed;
    
}

/* règles au format responsive avec les media queries */
@media all and (max-width: 900px)
{
  body{
	  margin: 0 0 0 0;
  }

  header
  {
    width: auto;
    margin: auto;
  }

  header h2
  {
    height: auto;
  }

  .titre_page
  {
    width: auto;
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 10px; 
    text-align: center;
  }

  main, footer
  {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
  }


}
