@mixin Center_elements($Align: center,$Justify: center, $Direction: row) {
    display: flex;
    flex-direction: $Direction;
    align-items: $Align;
    justify-content: $Justify;
}

@mixin Effet_Popout{
    animation: menu_pop_out_effect 300ms ease-in-out both;
    transform: scale(1);
}

@mixin Underline($couleursoulignement) {
    text-decoration: none;
    background: linear-gradient(to top, $couleursoulignement 0%, $couleursoulignement 5%, transparent 1%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

@mixin Menu_Gradient($colorA: #000, $colorB: #000) {
    background: $colorA;
    background: linear-gradient(125deg, $colorA 0%, $colorB 90%);
    @include Webkit_Degrade;
}

@mixin Box-Shadow($Shadow: #999){
    box-shadow: 0 0 .65rem $Shadow;
}

@mixin Webkit_Degrade{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin Degrade_note{
    color: $clr_menu_note--1;
}

@mixin Degrade_chic{
    background:  -webkit-linear-gradient(110deg, $clr_menu_chic--3 0%,$clr_menu_chic--2 40%, $clr_menu_chic--1 100%);
    @include Webkit_Degrade;
}

@mixin Degrade_delice{
    background: -webkit-linear-gradient(110deg,$clr_menu_delice--3,$clr_menu_delice--2,$clr_menu_delice--1);
    @include Webkit_Degrade;
}

@mixin Degrade_palette{
    background: -webkit-linear-gradient(110deg,$clr_menu_palette--3 30%, $clr_menu_palette--1 100%);
    @include Webkit_Degrade;
}