.menu_titre{
    font-family: $fnt-header-footer;
    font-size: 30px;
}
.menu_chic{
    &_main{
        @include Center_elements($Direction:column);
        width:80%;
    }
    &_contenu{
        margin: 3%;
        padding: 3%;
        background-color: $clr_menu_chic--bg;
        box-shadow: 0 0 10px #999;
        width: 70%;
    }
    &_titre{
        @include Center_elements;
        font-family: $fnt-chic--1;
        background:  -webkit-linear-gradient(110deg, $clr_menu_chic--3 0%, $clr_menu_chic--1 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        font-size: 30px;
    }
    &_entree{
        @include Center_elements($Direction:column);
        font-family: $fnt-chic--2;
        font-size:  25px;
        padding: 5% 0;
        &--titre{
            @include Center_elements($Justify:space-between);
            width:100%;
            color: $clr_menu_chic--1;
            & h4{
                @include Underline ($clr_menu_chic--1);
                &:hover{
                    background-size: 100% 100%;
                }
            }
            & img{
                width: 30%;
            }
        }
        &--contenu{
            @include Center_elements($Direction: row, $Justify:space-between);
            flex-wrap: wrap;
            width:90%;
            color: $clr_menu_chic--1;
            font-size: 20px;
            .plat{
                width:70%;
            }
            .prix{
                width:20%;
                text-align: right;
            }
        }
    }
    &_plat{
        @include Center_elements($Direction:column);
        font-family: $fnt-chic--2;
        font-size:  25px;
        padding: 5% 0;
        &--titre{
            @include Center_elements($Justify:space-between);
            width:100%;
            color: $clr_menu_chic--2;
            & h4{
                @include Underline ($clr_menu_chic--2);
                &:hover{
                    background-size: 100% 100%;
                }
            }
            & img{
                width: 30%;
            }
        }
        &--contenu{
            @include Center_elements($Direction: row, $Justify:space-between);
            flex-wrap: wrap;
            width:90%;
            color: $clr_menu_chic--2;
            font-size: 20px;
            .plat{
                width:70%;
            }
            .prix{
                width:20%;
                text-align: right;
            }
        }
    }
    &_dessert{
        @include Center_elements($Direction:column);
        font-family: $fnt-chic--2;
        font-size:  25px;
        padding: 5% 0;
        &--titre{
            @include Center_elements($Justify:space-between);
            width:100%;
            color: $clr_menu_chic--3;
            & h4{
                @include Underline ($clr_menu_chic--3);
                &:hover{
                    background-size: 100% 100%;
                }
            }
            & img{
                width: 30%;
            }
        }
        &--contenu{
            @include Center_elements($Direction: row, $Justify:space-between);
            flex-wrap: wrap;
            width:90%;
            color: $clr_menu_chic--3;
            font-size: 20px;
            .plat{
                width:100%;
            }
        }
    }
}