.menu_chic{
    &_titre{
        @include Degrade_chic;
    }
    @each $etape, $couleur, $taille in (entree,$clr_menu_chic--1, 70%), 
                                       (plat,$clr_menu_chic--2, 70%), 
                                       (dessert, $clr_menu_chic--3,100%){
        &_#{$etape}{
            @include Center_elements($Direction:column);
            font: 1.75rem $fnt-chic--2;
            padding: 5% 0;
            &--titre{
                @include Center_elements($Justify:space-between);
                width:100%;
                color: $couleur;
                h4{
                    @include Underline ($couleur);
                    &:hover{
                        background-size: 100% 100%;
                    }
                }
                img{
                    width: 30%;
                }
            }
            &--contenu{
                @include Center_elements($Direction: row, $Justify:space-between);
                flex-wrap: wrap;
                width:80%;
                color: $couleur;
                font-size: 1.25rem;
                .plat{
                    width: $taille;
                }
                .prix{
                    width:20%;
                    text-align: right;
                }
            }
        }
    }
}