.menu_delice{
    &_titre{
        @include Degrade_delice;
    }
    @each $etape, $couleur in ('entree' :$clr_menu_delice--1, 'plat':$clr_menu_delice--2, 'dessert':$clr_menu_delice--3){
        &_#{$etape}{
            @include Center_elements($Direction:column);
            font-family: $fnt-delice--2;
            font-size:  2.4rem;
            padding: 5% 0;
            &--titre{
                @include Center_elements($Justify:space-between);
                width:100%;
                color: $txt-basic;
                h4{
                    @include Underline ($couleur);
                    &:hover{
                        background-size: 100% 100%;
                    }
                }
                img{
                    width: 30%;
                }
            }
            &--contenu{
                @include Center_elements($Direction: row, $Justify:space-between);
                flex-wrap: wrap;
                width:80%;
                color: $txt-basic;
                .plat{
                    width:70%;
                    font-size: 1.9rem;
                }
                .prix{
                    width:20%;
                    font-size: 2.2rem;
                    text-align: right;
                }
            }
        }
    }   
}