.menu_titre{
    font-family: $fnt-header-footer;
    font-size: 30px;
}
.menu_delice{
    &_main{
        @include Center_elements($Direction:column);
        width:80%;
    }
    &_contenu{
        margin: 3%;
        padding: 3%;
        background-color: $clr_menu_delice--bg;
        box-shadow: 0 0 10px #999;
        width: 70%;
    }
    &_titre{
        @include Center_elements;
        font-family: $fnt-delice--1;
        background: -webkit-linear-gradient(100deg,$clr_menu_delice--3,$clr_menu_delice--2,$clr_menu_delice--1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        font-size:  50px;
        font-weight: normal;
    }
    &_entree{
        @include Center_elements($Direction:column);
        font-family: $fnt-delice--2;
        font-size:  25px;
        padding: 5% 0;
        &--titre{
            @include Center_elements($Justify:space-between);
            width:100%;
            color: $clr_menu_delice--1;
            & h4{
                @include Underline ($clr_menu_delice--1);
            }
            & img{
                width: 30%;
            }
        }
        &--contenu{
            @include Center_elements($Direction: row, $Justify:space-between);
            flex-wrap: wrap;
            width:90%;
            color: $clr_menu_delice--1;
            font-size: 20px;
            .plat{
                width:70%;
            }
            .prix{
                width:20%;
                text-align: right;
            }
        }
    }
    &_plat{
        @include Center_elements($Direction:column);
        font-family: $fnt-delice--2;
        font-size:  25px;
        padding: 5% 0;
        &--titre{
            @include Center_elements($Justify:space-between);
            width:100%;
            color: $clr_menu_delice--2;
            & h4{
                @include Underline ($clr_menu_delice--2);
            }
            & img{
                width: 30%;
            }
        }
        &--contenu{
            @include Center_elements($Direction: row, $Justify:space-between);
            flex-wrap: wrap;
            width:90%;
            color: $clr_menu_delice--2;
            font-size: 20px;
            .plat{
                width:70%;
            }
            .prix{
                width:20%;
                text-align: right;
            }
        }
    }
    &_dessert{
        @include Center_elements($Direction:column);
        font-family: $fnt-delice--2;
        font-size:  25px;
        padding: 5% 0;
        &--titre{
            @include Center_elements($Justify:space-between);
            width:100%;
            color: $clr_menu_delice--3;
            & h4{
                @include Underline ($clr_menu_delice--3);
            }
            & img{
                width: 30%;
            }
        }
        &--contenu{
            @include Center_elements($Direction: row, $Justify:space-between);
            flex-wrap: wrap;
            width:90%;
            color: $clr_menu_delice--3;
            font-size: 20px;
            .plat{
                width:70%;
            }
            .prix{
                width:20%;
                text-align: right;
            }
        }
    }
}