// STYLE PRINCIPAL POUR TOUTES LES PAGES //
html {
    font-size:100%;
}

body {
    @include Center_elements($Direction: column);
    background-color: white;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

a{
    color:$txt-color;
    font-family:$fnt-header-footer;  
    text-decoration: none;
}

header, footer{
    width:100%;
    background-color: $bg-color;
}

header{
    @include Center_elements($Direction: column);
    height: 145px;
    h1{
        font: 6.25rem $fnt-header-footer;
        letter-spacing: -.35rem;
        color:$txt-color;
    }
}

main{
    margin: 0;
    padding: 0;
    width:80%;
}

footer{
    @include Center_elements($Justify: space-between);
    position:fixed;
    height: 3rem;
    bottom:0;
    p{
        padding: 0 2%;
        font-size: 1.25rem;
        &:hover{
            animation: footer_wiggle_effect 300ms ease-in-out 1;
        }
    }
}

.menu_titre{
    h2{
        font: 3rem $fnt-header-footer;
    }
}