// STYLE PRINCIPAL POUR TOUTES LES PAGES //
body {
    margin: 0;
    padding: 0;
    background-color: white;
    @include Center_elements($Direction: column);
}
a{
    text-decoration: none;
}

header, footer{
    width:100%;
    background-color: $bg-color;
    & a{
        color:$txt-color;
        font-family:$fnt-header-footer;  
    }
}

header{
    height:150px;
    @include Center_elements($Direction: column);
    & h1{
        font-size: 100px;
        letter-spacing: -6px;
    }
}

main{
    margin: 5% 10%;
    padding: 0;
    width:80%;
}

footer{
    position:fixed;
    height:50px;
    bottom:0;
    @include Center_elements($Justify: space-between);
    & p{
        margin: 2%;
        font-size: 20px;
        &:hover{
            animation: footer_wiggle_effect 300ms ease-in-out 1;
        }
    }
}