.index{
    &_main{
    @include Center_elements($Direction: row);
    flex-wrap: wrap;
    width: 70%;
    padding: 3%;
    }
    &_menu {
        @include Box-Shadow;
        width:40%;
        margin: 2%;
        &-detail {
            @include Center_elements($Direction: column);
            width:100%;
            height:44rem;
            &:hover {
                @include Effet_Popout;
            }
        }
        &-nom{
            margin:0;
            padding:0 1%;
        }
        &-soustitre{
            margin:0;
        }
        @each $resto, $resto-bg, $resto-nom-fnt, $resto-nom-clr, $resto-soustitre-fnt, $resto-soustitre-clr in
            (1, $clr_menu_note--bg, 3.15rem $fnt-note--1, $clr_menu_note--1, italic 3.15rem $fnt-note--2, $clr_menu_note--1),
            (2, $clr_menu_chic--bg, 1.90rem $fnt-chic--1, $clr_menu_chic--1,        3.75rem $fnt-chic--2, $clr_menu_chic--1),
            (3, $clr_menu_delice--bg, 2.5rem $fnt-delice--1,$clr_menu_delice--1,3.75rem $fnt-delice--2, $clr_menu_delice--2),
            (4, $clr_menu_palette--bg,2.5rem $fnt-palette--1,$clr_menu_palette--1,3.75rem $fnt-palette--2, $clr_menu_palette--2){
            &:nth-child(#{$resto}) {
                background-color: $resto-bg;
                .index_menu{
                    &-nom{
                        font: $resto-nom-fnt;
                        color: $resto-nom-clr;
                    }
                    &-soustitre{
                        font: $resto-soustitre-fnt;
                        color: $resto-soustitre-clr;
                    }
                }
            }
        }
    }
    &_upcoming{
        @include Center_elements;
        width:40%;
        margin: 2%;
        &-detail {
            @include Center_elements($Direction: row);
            width:80%;
            height:2.5rem;
            background-color: $bg-color;
            border-radius: 1rem;
        }
        &-txt{
            font: 1.6rem $fnt-header-footer;
            color: $txt-color;
        }
        &-loading{
            @include Center_elements;
            margin: .87rem 0 0 .37rem;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $txt-color;
            animation: anim_btn_opacity $anim_btn_duree ease-in-out infinite;
            @for $i from 1 through 3 {
                &-#{$i} {
                animation-delay: ($anim_btn_delay/$i);
                }
            }
        }
    }
}