.index{
    &_main{
    @include Center_elements($Direction: row);
    flex-wrap: wrap;
    width: 70%;
    padding: 3%;
    }
    &_menu {
        @include Box-Shadow;
        width:40%;
        margin: 2%;
        &-detail {
            @include Center_elements($Direction: column);
            width:100%;
            height:700px;
            &:hover {
                @include Effet_Popout;
            }
        }
        &-nom{
            margin:0;
            padding:0 1%;
        }
        &-soustitre{
            margin:0;
        }
        &:nth-child(1) {
            background-color: $clr_menu_note--bg;
            .index_menu{
                &-nom{
                    font: 50px $fnt-note--1;
                    color: $clr_menu_note--1;
                }
                &-soustitre{
                    font: italic 50px $fnt-note--2 ;
                    text-transform: uppercase;
                    color: $clr_menu_note--1;
                }
            }
        }
        &:nth-child(2) {
            background-color: $clr_menu_chic--bg;
            .index_menu{
                &-nom{
                    font: 30px $fnt-chic--1;
                    //color: $clr_menu_chic--1;
                    @include Degrade_chic;
                }
                &-soustitre{
                    font: 60px $fnt-chic--2;
                    color: $clr_menu_chic--1;
                }
            }
        }
        &:nth-child(3) {
            background-color: $clr_menu_delice--bg;
            .index_menu{
                &-nom{
                    font: 40px $fnt-delice--1;
                    @include Degrade_delice;
                }
                &-soustitre{
                    font: 60px $fnt-delice--2;
                    color: $clr_menu_delice--2;
                }
            }
        }
        &:nth-child(4) {
            background-color: $clr_menu_palette--bg;
            .index_menu{
                &-nom{
                    font: 40px $fnt-palette--1;
                    @include Degrade-palette;
                }
                &-soustitre{
                    font: 60px $fnt-palette--2;
                    color: $clr_menu_palette--2;
                }
            }
        }
    }
    &_upcoming{
        @include Center_elements;
        width:40%;
        margin: 2%;
        &-detail {
            @include Center_elements($Direction: row);
            width:80%;
            height:40px;
            background-color: $bg-color;
            border-radius: 15px;
        }
        &-txt{
            font: 25px $fnt-header-footer;
            color: $txt-color;
        }
        &-loading{
            @include Center_elements;
            margin: 14px 0 0 6px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $txt-color;
            animation: anim_btn_opacity $anim_btn_duree ease-in-out infinite;
            @for $i from 1 through 3 {
                &-#{$i} {
                animation-delay: ($anim_btn_delay/$i);
                }
            }
        }
    }
}