.legal{
    &_main{
        @include Center_elements($Direction:column);
        width:80%;
        padding-bottom: 10%;
    }
    &_contenu{
        @include Box-Shadow;
        margin: 3%;
        padding: 3%;
        padding-bottom: 10%;
        background-color: $clr_mention--bg;
        font-family: $fnt-header-footer;
        color: $clr_mention--txt;
        width: 70%;
        & h2{
            color:$bg_color;
            font-size: 2.2rem;
            text-align: center;
        }
        & h3{
            color:$bg_color;
            font-size: 1.6rem;
            text-decoration: underline;    
        }
        & a{
            color:$txt_color;
            text-decoration: none;
            @include Underline($txt_color);
            &:hover{
                background-size: 100% 100%;
            }           
        }
        & strong{
            text-decoration: underline;
        }
        & p{
            text-align: justify;
        }
        & span{
            font-style: italic;    
        }        
    }
}