.menu_note{
    &_titre{
        @include Degrade_note;
    }
    @each $etape,$taille in ('entree': 70%, 'plat':70%, 'dessert': 100%){
        &_#{$etape}{
            @include Center_elements($Direction:column);
            font-family: $fnt-note--2;
            font-size:  2.4rem;
            padding: 5% 0;
            &--titre{
                @include Center_elements($Justify:space-between);
                width:100%;
                color: $clr_menu_note--1;
                & h4{
                    @include Underline ($clr_menu_note--1);
                    &:hover{
                        background-size: 100% 100%;
                    }
                }
                & img{
                    width: 30%;
                }
            }
            &--contenu{
                @include Center_elements($Direction: row, $Justify:space-between);
                flex-wrap: wrap;
                width:80%;
                color: $clr_menu_note--1;
                .plat{
                    width:$taille;
                    font-size: 1.6rem;
                }
                .prix{
                    width:20%;
                    font-size: 1.6rem;
                    text-align: right;
                }
            }
        }
    }
    &_footer{
        @include Center_elements;
        margin: 5%;      
        & h3{
            font: normal 2.5rem $fnt-note--1;
            color: $clr_menu_note--1;
            padding-left: 2%;
        }
        & img{
            width: 7%;
            height:7%;
        }
    }
}