// // TYPOGRAPHIE IMPORT FONTS // 
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');