@media only screen and  (max-width: 1299px) {
    .index{
        &_main {
        width:100%;
        padding: 0;
        }
        &_menu {
            width:46%;
        }
        &_upcoming{
            width:40%;
            padding-bottom: 5%;
        }
    }
    .menu_note{
        &_main, &_contenu{
            width:85%;    
        }
    }
    .menu_chic{
        &_main, &_contenu{
            width:85%;  
        }
    }
    .menu_delice{
        &_main, &_contenu{
            width:85%;  
        }
        &_entree, &_plat, &_dessert{
            font-size: 30px;
            &--contenu{
                .plat{
                   font-size: 25px;
                }
                .prix{
                   font-size: 30px;
                }
            }
        }
    }
    .menu_palette{
        &_main, &_contenu{
            width:85%;  
        }
        &_entree, &_plat, &_dessert{
             font-size: 30px;
            &--contenu{
                .plat{
                    font-size: 20px;
                }
                .prix{
                    font-size: 25px;
                }
            }
        }
    }
    .legal{
        &_main, &_contenu{
            width:85%;  
        }
    }
}

@media only screen and (max-width : 768px) {
    header {
        height:100px;
        h1{
        font-size:60px;
        }
    }
    footer {
        height:30px;
        p{
        font-size:12px;        
        }
    }
    .index{
        &_main {
            @include  Center_elements($Direction: column);
        }
        &_menu {
            width:77.4%;
            height:500px;
            &-detail{
                height:500px;
            }
            &:nth-child(1) {
                .index_menu{
                    &-nom, &-soustitre{
                        font-size: 45px;
                    }
                }
            }
            &:nth-child(2) {
                .index_menu{
                    &-nom{
                        font-size:24px;
                    } 
                    &-soustitre{
                        font-size: 45px;
                    }
                }
            }
            &:nth-child(3) {
                .index_menu{
                    &-nom{
                        font-size:30px;
                    } 
                    &-soustitre{
                        font-size: 45px;
                    }
                }
            }
            &:nth-child(4) {
                .index_menu{
                    &-nom{
                        font-size:35px;
                    } 
                    &-soustitre{
                        font-size: 45px;
                    }
                }
            }
        }
        &_upcoming{
            width:45%;
        }
    }
    .menu_delice{
        &_titre{
            font: 60px $fnt-delice--1;
        }
        &_entree, &_plat, &_dessert{
            font-size: 24px;
            &--contenu{
                .plat{
                   font-size: 20px;
                }
                .prix{
                   font-size: 24px;
                }
            }
        }
    }
    .menu_palette{
        &_titre{
            font: 60px $fnt-palette--1; 
        }
        &_entree, &_plat, &_dessert{
             font-size: 25px;
            &--contenu{
                .plat{
                    font-size: 15px;
                }
                .prix{
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width : 320px) {
    .menu_titre{
        font-size: 15px;
    }
    .index{
        &_main, &_contenu{
            padding-bottom: 10%;
        }
        &_menu {
            width:95%;
            height:500px;
            &-detail{
                height:500px;
            }
            &:nth-child(1) {
                .index_menu{
                    &-nom, &-soustitre{
                        font-size: 40px;
                    }
                }
            }
            &:nth-child(2) {
                .index_menu{
                    &-nom{
                        font-size:25px;
                    }
                    &-soustitre{
                        font-size:50px;
                    }
                }
            }
        }
        &_upcoming{
            width:95%;
        }
    }
    .legal{
        &_main, &_contenu{
            width:95%;    
        }
        &_contenu{
            & h2{
                font-size: 30px;
            }
            & h3{
                font-size: 17px;
            }
            & p, & ul{
                font-size: 10px;
            }
        }
    }
    .menu_note{
        &_main, &_contenu{
            width:95%;  
            padding-bottom: 10%;  
        }
        &_titre{
            & h3{
                font-size:40px;
            }
            & img{
                width:40%;
            }
        }
        &_entree, &_plat, &_dessert{
            & img{
                width:25%;
            }
            font-size: 15px;
            & .plat, .prix{
                font-size:12px;
            }     
        }
        &_footer{
            & h3{
                font-size:30px;
            }
            & img{
                width:10%;
            }
        }
    }
    .menu_chic{
        &_main, &_contenu{
            width:95%;    
            padding-bottom: 10%;
        }
        &_titre{
            font-size:20px;    
        }
        &_entree, &_plat, &_dessert{
            & img{
                width:22%;
            }
            font-size: 14px;
            & .plat, .prix{
                font-size:12px;
            }
        }
    }
    .menu_delice{
        &_main, &_contenu{
            width:95%;    
            padding-bottom: 10%;
        }
        &_titre{
            font-size:30px;    
        }
        &_entree, &_plat, &_dessert{
            & img{
                width:25%;
            }
            font-size: 15px;
            & .plat, .prix{
                font-size:12px;
            }
        }
    }
    .menu_palette{
        &_main, &_contenu{
            width:95%;    
            padding-bottom: 10%;
        }
        &_titre{
            font-size:30px;    
        }
        &_entree, &_plat, &_dessert{
            & img{
                width:25%;
            }
            font-size: 15px;
            & .plat, .prix{
                font-size:12px;
            }
        }
    }
}