@import "./utils/mixins";
@import "./utils/variables";

@import "./base/fonts";

@import "./components/animations";


@import "./pages/general";
@import "./pages/index";
@import "./pages/legal";
@import "./pages/note";
@import "./pages/chic";
@import "./pages/delice";