@import "./utils/mixins";
@import "./utils/variables";

@import "./base/fonts";

@import "./components/animations";

@import "./layouts/menus";

@import "./pages/general";
@import "./pages/index";
@import "./pages/legal";
@import "./pages/note";
@import "./pages/chic";
@import "./pages/delice";
@import "./pages/palette";

@import "./responsive/responsive";